body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/background.jpg') no-repeat center center fixed;
    background-size: cover;
  }

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}